body{
    font-family: 'COCOGOOSE', sans-serif;
     background-color: lightslategray;                                           
}

button{
    color: #73AD21;
}


.images-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

#headz{
    background-color: darkslategrey;
    color:lightslategray;
    border-radius: 25px;
    margin-top: 1%;
}