body{
    font-family: 'COCOGOOSE', sans-serif;
     background-color: lightslategray;                                           
}


.images-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* border: 1px solid #ccc;
    border-radius: 25px;
    background-color: darkslategray; */
}

.image-title {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: darkslategray;
}

#headz{
    background-color: darkslategrey;
    color:lightslategray;
    /* border-radius: 25px; */
    /* margin-top: 1%; */
}

#search{
    background-color: darkslateblue;
    border: none;
    color: #ccc;
}