body{
    font-family: 'COCOGOOSE', sans-serif;
     background-color: lightslategray;                                           
}



.images-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* border: 1px solid #ccc;
    border-radius: 25px;
    background-color: darkslategray; */
}

.image-title {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: darkslategray;
}

.grid-image{
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.grid-image:hover {
    transform: scale(1.05);
}



#headz{
    background-color: darkslategrey;
    color:lightslategray;
    padding: 2%;
    display: flex;
    justify-content: center;
    /* border-radius: 25px; */
    /* margin-top: 1%; */
}

#warning{
    background-color: rgba(128, 0, 0, 0.7);
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items:center ;
    color: rgb(209, 196, 179);
}

#search{
    background-color: darkslateblue;
    border: none;
    color: #ccc;
}